.card{
    font-size: larger;
    font-family: cursive;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    float: left;
    

}


#h1{
    float: left;
    width: 300px;
    height: 400px;
    margin: 4%;
    border-radius: 70px;
}

#p1{
    width: normal;
}

p{
    font-size: x-large;
}

footer{
    text-align: center;
    color: rgb(235, 116, 13);
    font-size: xx-large;
}

ul{
    font-size: x-large;
}


@media screen and (min-width: 480px) and (max-width: 768px ){
    body{
        color:white;
    }


}