h1{
   color:red;
   text-align: center;
   font-size: xx-large;
}



p{
  font-size: x-large;
  font-weight: 300px;
  font-family: serif;
  font-style: normal;
  text-align: center;
}


li{
   font-size: larger;
   font-weight: 300px;
   font-family: sans-serif;
   font-style: italic;

}

h2{
    font-size: xx-large;
    line-height: 70px;
}

div{
    font-size: xx-large;
    font-style: normal;
    text-align: center;
    color: aqua;
    font-family: cursive;
    font-weight: 600;
    line-height: 100px;

}















