



h1{
    color: blue;
    background-color: aqua;
    font-size: xx-large;
    font-family: serif;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
    line-height: 100px;
}

h2{
    text-align: center;
    font-size: xx-large;
}


p{
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  float: left;
}


.card{

  float: left;
  width: 220px;
  text-align: center;
  margin: 4%;
  box-sizing: border-box;
 


}
  

#l1 {
    width: 200px;
    height: 200px;
    border: 5px solid coral;

}

#l2{
    height: 200px;
    width: 200px;
    border: 5px solid black;
}

#l3{
   height: 200px;
   width: 200px;
   border: 5px solid burlywood;

}
   

#l4{

   height: 200px;
   width: 200px;
   border: 5px solid #f87;

}

